body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accordion-wrapper {
  width: 250px;
  border: 1px solid #dbdbdb;
}

.header {
  background-color: #58c3cc;
}

.body {
  display: none;
}

.active {
  display: block;
}
